#question {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 50%;
}

h1 {
    text-align: center;
}

#questId {
    /* margin: 20px; */
    text-align: center;
    border: 15px solid black;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

#startQuiz {
    background-color: blue;
    padding: 15px 32px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    align-content: center;
}

button {
    border-radius: 8px;
    cursor: pointer;
    background-color: blue;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    width: auto;
    text-align: center;
}

#timer {
    float: right;
    position: absolute;
    bottom: 900px;
    left: 800px;
}

li {
    background-color: blue;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 20px;
    color: white;
    text-align: left;
}

#restart {
    background-color: blue;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clearScores {
    background-color: blue;
    position: absolute;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: blue;
    margin-left: 30%;
    margin-right: 30%;
    padding: 15px 32px;
    font-size: 25px;
    color: white;
}

label {
    margin-right: 10px;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    border: 5px solid blue;
    padding: 5px 15px;
    font-size: 20px;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

/* Start media queries */
/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
/* Resized content to fit 786px  */
body {
    max-width: 786px;
}
/* Resized main-content to fit 786px  */
#question {
position: absolute;
left: 20%;
}

a {
margin-left: 20%;
}

#goBack {
    position: relative;
    left: 55%;
}

#clear {
    position: relative;
    right: 5%;
}}

/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {
/* Resized content to fit 640px  */
body {
    min-width: 640px;
}
/* Resized main-content to fit 640px  */
#question {
position: absolute;
left: 10%;
}

a {
  margin-left: 10%;
}}