/* Styling for coding quiz challenge */
#questId {
    text-align: center;
    border: 15px solid black;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

/* Styling for buttons */
button {
    border-radius: 8px;
    cursor: pointer;
    background-color: blue;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    width: auto;
    text-align: center;
}

/* Styling for the start quiz button */
#startQuiz {
    background-color: blue;
    padding: 15px 32px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    align-content: center;
}

/* Styling for all the questions */
#question {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 50%;
}

/* Styling for coding quiz challenge header */
h1 {
    text-align: center;
}

/* Styling for timer */
#timer {
    float: right;
}

/* Styling for the list of answer options */
li {
    background-color: blue;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 20px;
    color: white;
    text-align: left;
}

/* Styling for the initials text area */
textarea {
    width: 90%;
    margin: 20px;
}

/* Styling for the input text area */
input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    border: 5px solid blue;
    padding: 5px 15px;
    font-size: 20px;
}

/* Styling for the submit button */
#Submit {
    background-color: blue;
    margin-left: 30%;
    margin-right: 30%;
    padding: 15px 32px;
    font-size: 25px;
    color: white;
}

/* Styling for the answers */
#answerDiv {
    color: gray;
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

.buttonElement {
    display: inline-block !important;
}


/* Styling for restart button */
#restart {
    margin-top: 10px;
    background-color: blue;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: white;
    width: auto;
    text-align: center;
    text-decoration: none;
}

/* Styling for clear scores button */
#clearScores {
    background-color: blue;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
}

/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
/* Resized content to fit 786px  */
body {
    max-width: 786px;
}

/* Resized main-content to fit 786px  */
#question {
position: absolute;
left: 20%;
}

a {
margin-left: 20%;
}

#restart {
    position: relative;
    left: 55%;
}

#clear {
    position: relative;
    right: 5%;
}}

/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {
/* Resized content to fit 640px  */
body {
    min-width: 640px;
}

/* Resized main-content to fit 640px  */
#question {
position: absolute;
left: 10%;
}

a {
  margin-left: 10%;
}}